<div id = "menuContainer" class = "col l2 s12  center animated fadeInLeft">
  <div class = "row">
    <div class = "titles"> <h1>Buscador</h1></div>
    <div class = "divider"></div>
  </div>
  <form id = "productSearchForm" method="post">
  <div class="input-field">
      <input id="search" type="search">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i class="material-icons">close</i>
    </div>

  <div class = "row">


      <% components.forEach(function(componentElement){ %>
        <h5> <%= componentElement.name %> </h5>
        <% componentElement.attributes.forEach(function(attributeElement){ %>
          <p>
            <input type="checkbox" id="<%= attributeElement._id%>" class = "attributeInputSearcher"/>
            <label for="<%= attributeElement._id%>"><%= attributeElement.value%></label>
          </p>
        <% }); %>
          <div class = "divider"></div>
      <% }); %>

      <div class = "divider"></div>

      <h5> Ordenar Por </h5>
      <select name = "orderType">
          <option value = "price">Precio</option>
          <option value = "created_at">Fecha</option>
      </select>
      <div class="switch">
  </div>
      <div class = "divider"></div>

      <input type = "submit" class="waves-effect waves-light btn" value = "buscar">


  </div>
  </form>
</div>
