<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head/client') %>
    <title>No Econtrada</title>
  </head>
  <body>
    <header>
      <%- include('../partials/navbar/unregistered') %>
    </header>
      <h1>La Pagina Especificada no ha sido encontrada</h1>

      <footer>
        <%- include('../partials/footer/unregistered') %>
      </footer>
      <%- include('../partials/foot/footLinks') %>
  </body>
</html>
