  <footer class = "page-footer col xl12 l12 m12 s12">
    <div id="mainContFooter" class="container">
      <div class="row">
        <div class="col xl6 l3 m6 s12 footerPar">
          <h5 class="white-text">PINK SHOP</h5>
          <p class="grey-text text-lighten-4">En (Nombre tienda) estamos para servirte, cualquier duda o reclamo sobre la
            plataforma no olvides comunicarte con nosotros a travez del correo electronico o nuestras redes sociales.
          </p>
        </div>
        <div class="col xl2 l2 m3 s6 offset-l1 footerPar">
          <h5 class="white-text">Paginas</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Perfumes</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Accesorios</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Maquillaje</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Piel</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Ropa</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Variedades</a></li>
          </ul>
        </div>
        <div class="col xl2 l2 m3 s6 offset-l1 footerPar">
          <h5 class="white-text">Conectate</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Piel</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Ropa</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Variedades</a></li>
          </ul>
        </div>
        <div class="col xl2 l2 m3 s6 offset-l1 hide-on-med-and-down footerPar">
          <h5 class="white-text">Medios de Pago</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Visa</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Mastercard</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Punto Baloto</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Efecty</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
      © 2017 Copyright Wolfay Projects.
      </div>
    </div>

  </footer>
