a:link{
  color: inherit;
}
a:visited{
  color: inherit;
}
#navBar{
  /*background-color:#d0006f;*/
  font-family: 'Fresca', sans-serif;
  font-weight: bold;
  font-size: 2.3vw;
  color: rgb(30,30,30);
  color: white;
  /*box-shadow: #d0006f 0px 5px 8px;*/
  /*background-color: rgb(229,224,218);*/
  background-color: rgb(30,30,30);
  /*background-color: black;*/
}

.brand-logo{
    background-color: rgb(30,30,30);
/*    margin-left: 20px;*/
}
.navTitle{
    font-size: 4vw;
}

.navSelec{
  font-size: 2.3vw;
}

.navSelec:hover{
    background-color: #d0006f;
    color:rgb(229,224,218);

   -webkit-transform: rotate(5deg);
   -moz-transform: rotate(5deg);
   -o-transform: rotate(5deg);


   -webkit-transition-duration: 0.5s; /* Safari */
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   cursor:pointer;
}

.navIcon{
  font-size: 5vw;
  cursor:pointer;
}

.navIcon:hover{
  /*-webkit-transform: rotate(15deg);
  -webkit-transition-duration: 0.5s;*/

  text-shadow: #d0006f 4px 5px 0px;
  /*background-color: #d0006f;*/

}
.ammountCart{
  border-bottom: #d0006f solid 2px;
  font-size: 1.6vw;
  cursor: pointer;
}
#totalCartElements{
  font-size: 3.2vw;
  text-shadow: #d0006f 2px 1px 0px;
}
/* tablet */
@media only screen and (max-width:991px){
  .ammountCart{
    font-size: 2.6vw;
    cursor: pointer;
  }
  .navIcon{
    font-size: 8vw;
  }
  #totalCartElements{
    font-size: 4vw;
  }
  /* cambio de menu de navigacion */
  #slide-out{
    font-size:3vw;
    background-color: #d0006f;
    width:40%;
  }

  #slide-out .title{
    font-size: 4vw;
    color : rgb(30,30,30);
    text-shadow: rgb(240,240,240) 2px 2px 0px;
  }

  #slide-out a{
    height: 7vw;
    display:block;
    font-family: 'Dosis', sans-serif;
    vertical-align: middle;
  }

  #slide-out a.link:nth-child(even){
    background-color: rgb(30,30,30);
    color:rgb(240,240,240);

  }

  #slide-out a.link:nth-child(odd){
    background-color: rgb(240,240,240);
    color:rgb(30,30,30);
  }


  #slide-out .sections{
    display:inline-block;
    color:rgb(30,30,30);
    font-size: 4.2em;
    text-shadow: rgb(240,240,240) 3px 3px 0px;
  }


}

@media only screen and (max-width:599px){
  .navTitle{
      font-size: 7vw;
  }
  .ammountCart{
    font-size: 4.6vw;
    cursor: pointer;
  }
  .navIcon{
    font-size: 9vw;
  }
  #totalCartElements{
    font-size: 8.2vw;
  }

  #slide-out{
    font-size:4.5vw;
    background-color: #d0006f;
    width:70%;
  }

  #slide-out .title{
    font-size: 5vw;
    color : rgb(30,30,30);
    text-shadow: rgb(240,240,240) 2px 2px 0px;
  }

  #slide-out a{
    height: 9.5vw;
    display:block;
    font-family: 'Dosis', sans-serif;
    vertical-align: middle;
  }

  #slide-out a.link:nth-child(even){
    background-color: rgb(30,30,30);
    color:rgb(240,240,240);

  }

  #slide-out a.link:nth-child(odd){
    background-color: rgb(240,240,240);
    color:rgb(30,30,30);
  }


  #slide-out .sections{
    display:inline-block;
    color:rgb(30,30,30);
    font-size: 4.2em;
    text-shadow: rgb(240,240,240) 3px 3px 0px;
  }

}

/* cambio de menu de navigacion */
