<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menjar</title>

  <!--  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" /> -->
    <!-- Import Google Icon -->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="vendor/aos-master/dist/aos.css" rel="stylesheet">
    <!-- CSS - Materialize -->
    <link rel="stylesheet" href="vendor/materialize/css/materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel = "stylesheet" href = "assets/css/fragances.css">
    <!-- Custom -->
</head>

<body>

<!-- HEADER -->
  <header>
      <!-- Menu -->
        <nav class="nav-extended animated fadeInDown col s12">
          <div class="nav-wrapper">

            <div class = "row">
              <a href="#" class="brand-logo center"><img class = "animated tada" src = "resources/img/logo_base.png"></a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <!-- Iconos de cuenta y carrito de compras -->
              <ul id="nav-mobile" class="right">
                <li><a href="#modalLog"><i class="material-icons">account_circle</i></a></li>
                <li><a href="badges.html"><i class="material-icons">shopping_cart</i></a></li>
              </ul>
            </div>

            <div class = "row hide-on-med-and-down" >
              <div class = "container center">
                <ul>
                  <li ><a href="/"><i class="material-icons">home</i></a></li>
                  <li class="active"><a>Perfumeria</a></li>
                  <li><a href="#test2">Maquillaje</a></li>
                  <li><a href="#test3">Cuidado Piel</a></li>
                  <li><a href="#test4">Ropa</a></li>
                  <li><a href="#test4">Accesorios</a></li>
                </ul>
              </div>

            </div>

          </div>
      </nav>

      <!-- menu lateral para moviles -->
    <ul class="side-nav" id="mobile-demo">
        <li>  <h5> Categorias</h5>
              <div class = "divider"></div>
        </li>

        <li><a href="/">Home</a></li>
        <li><a href="/perfumeria">Perfumeria</a></li>
        <li><a href="badges.html">Maquillaje</a></li>
        <li><a href="#test3">Cuidado Piel</a></li>
        <li><a href="collapsible.html">Ropa</a></li>
        <li><a href="mobile.html">Accesorios</a></li>

        <li>  <h5> Informacion</h5>
              <div class = "divider"></div>
        </li>
        <li><a href="sass.html"><i class="material-icons">account_circle</i>Ingresar</a></li>
        <li><a href="sass.html"><i class="material-icons">shopping_cart</i>Carro de compras</a></li>
        <li><a href="sass.html"><i class="material-icons">help</i>Ayuda</a></li>
        <li>
            <div class = "section">
              <div class = "center">
                <a class="btn-floating btn-large waves-effect waves-light red" onclick = "$('.button-collapse').sideNav('hide');">
                  <div class = "center">
                    <i class="material-icons">close</i>
                  </div>
                </a>
              </div>
            </div>
        </li>
    </ul>

  </header>

  <!-- pruebas:  style = "background-color:blue" -->
  <main style = "clear:both">
    <div class = "col m12 s12 l12 animated fadeInRight">
            <a id "mainBanner"  href = "#"><img height="80px" width = "100%" src = "assets/img/page/mainBanner.png"></a>
    </div>

          <!-- Aqui va el contenedor de los productos -->
    <div class = "row">
          <div id = "menuContainer" class = "col l2 z-depth-1 center animated fadeInLeft">
            <div class = "row">
              <span class = "titles"> <h4>Buscador</h4></span>
              <div class = "divider"></div>
            </div>
            <div class = "row">
              <form action="#">
                <h5>Tamaño</h5>
                <p>
                  <input type="checkbox" id="test5" />
                  <label for="test5">Red</label>
                </p>
                <p>
                  <input type="checkbox" id="test6" checked="checked" />
                  <label for="test6">Yellow</label>
                </p>
                <div class = "divider"></div>

                <h5>Fragancia</h5>
                <p>
                  <input type="checkbox" id="test5" />
                  <label for="test5">Red</label>
                </p>
                <p>
                  <input type="checkbox" id="test6" checked="checked" />
                  <label for="test6">Yellow</label>
                </p>
                <div class = "divider"></div>

                <h5>Marca</h5>
                <p>
                  <input type="checkbox" id="test5" />
                  <label for="test5">Red</label>
                </p>
                <p>
                  <input type="checkbox" id="test6" checked="checked" />
                  <label for="test6">Yellow</label>
                </p>
                <div class = "divider"></div>

                <h5> Ordenar Por </h5>
                <select>
                    <option value = "price">Precio</option>
                    <option value = "date">Fecha</option>
                </select>
                <div class = "divider"></div>

                <a class="waves-effect waves-light btn">Buscar
                </a>
              </form>
            </div>
          </div>

          <div id = "productContainer" class = "container col l10 m9 s12 center">
            <!-- Elementos creados por la vista -->
          </div>
    </div>
    <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
  </main>

    <!-- Seccion Home -->





<!-- Footer -->
  <footer class = "col l12 m12 s12">

        <div class = "row">
          <div class = "container col m4 s6">
            <h5 class="white-text">Categorias</h5>
            <u
              <li><a class="grey-text text-lighten-3" href="#!">Perfumeria</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Maquillaje</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Cuidado Piel</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Ropa</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Accesorios</a></li>
            </ul>
          </div>
          <div class = "container col m4 s6">
            <h5 class="white-text">Paginas</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Ingresar</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Ayuda</a></li>
            </ul>
          </div>
          <div class = "container col m4 s12">
            <h5 class="white-text">Contacto</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">ventas@nombretienda.com</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-copyright">
          <div class="container col s12 center-align">
          © 2017 Pink Seduction
          </div>
          <div class="container col s12 center-align">
          Powered by Wolfay Projects
          </div>
        </div>
    </footer>

<!-- jQuery -->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!-- JS - Materialize -->
    <script src="vendor/materialize/js/materialize.js"></script>
    <script src="vendor/aos-master/dist/aos.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <script src="assets/js/utilities/protection.js"></script>
    <script src="assets/js/utilities/session.js"></script>
    <script src="assets/js/utilities/db.js"></script>
    <script src="assets/js/utilities/scroll.js"></script>

    <script src="assets/js/home/fragances/graphics.js"></script>
    <script src="assets/js/home/fragances/fragances.js"></script>

</body>
</html>
