<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menjar</title>

  <!--  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" /> -->
    <!-- Import Google Icon -->
     <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="vendor/aos-master/dist/aos.css" rel="stylesheet">
    <!-- CSS - Materialize -->
    <link rel="stylesheet" href="vendor/materialize/css/materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel = "stylesheet" href = "assets/css/home.css">
    <!-- Custom -->
</head>

<body>

<!-- HEADER -->
  <header>
      <!-- Menu -->
        <nav class="nav-extended animated fadeIn col s12">
          <div class="nav-wrapper">

            <div class = "row">
              <a href="#" class="brand-logo center"><img class = "animated tada" src = "resources/img/logo_base.png"></a>
              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <!-- Iconos de cuenta y carrito de compras -->
              <ul id="nav-mobile" class="right">
                <li><a href="login.html"><i class="material-icons">account_circle</i></a></li>
                <li><a href="badges.html"><i class="material-icons">shopping_cart</i></a></li>
              </ul>
            </div>

            <div class = "row hide-on-med-and-down" >
              <div class = "container center">
                <ul>
                  <li ><a href="/"><i class="material-icons">home</i></a></li>
                  <li class="active"><a>Perfumeria</a></li>
                  <li><a href="#test2">Maquillaje</a></li>
                  <li><a href="#test3">Cuidado Piel</a></li>
                  <li><a href="#test4">Ropa</a></li>
                  <li><a href="#test4">Accesorios</a></li>
                </ul>
              </div>

            </div>

          </div>
      </nav>

      <!-- menu lateral para moviles -->
    <ul class="side-nav" id="mobile-demo">
        <li>  <h5> Categorias</h5>
              <div class = "divider"></div>
        </li>

        <li><a href="sass.html">Perfumeria</a></li>
        <li><a href="badges.html">Maquillaje</a></li>
        <li><a href="#test3">Cuidado Piel</a></li>
        <li><a href="collapsible.html">Ropa</a></li>
        <li><a href="mobile.html">Accesorios</a></li>

        <li>  <h5> Informacion</h5>
              <div class = "divider"></div>
        </li>
        <li><a href="sass.html"><i class="material-icons">account_circle</i>Ingresar</a></li>
        <li><a href="sass.html"><i class="material-icons">shopping_cart</i>Carro de compras</a></li>
        <li><a href="sass.html"><i class="material-icons">help</i>Ayuda</a></li>
        <li>
            <div class = "section">
              <div class = "center">
                <a class="btn-floating btn-large waves-effect waves-light red" onclick = "$('.button-collapse').sideNav('hide');">
                  <div class = "center">
                    <i class="material-icons">close</i>
                  </div>
                </a>
              </div>
            </div>
        </li>
    </ul>

  </header>

  <!-- pruebas:  style = "background-color:blue" -->
  <main style = "clear:both">

    <div id = "mainContainer">

    <!-- Seccion Home -->
    <div>
        <div class = "col m12 s12 animated fadeInUp">
            <a id "mainBanner"  href = "#"><img height="80px" width = "100%" src = "http://via.placeholder.com/800x70"></a>
        </div>
    </div>
    <!-- Distribucion de la Perfumeria -->
    <div id="fraganceProducts" class="col m12 s12">
        <div class = "row">

          <div class = "container rect_marg col m4 z-depth-4">
              <form action = "#">
                <!-- botones para seleccionar categorias -->
              <h5> Tamaño</h5>
                <div class = "divider"></div>
                <div class = "row">
                    <div class = "inputGroup">
                      <input name="fraganceType" type="radio" id="radio1" />
                      <label for="radio1">Test1</label>
                      <br>
                      <input name="fraganceType" type="radio" id="radio2" />
                      <label for="radio2">Test2</label>
                      <br>
                      <input name="fraganceType" type="radio" id="radio3" />
                      <label for="radio3">Test3</label>
                      <br>
                    </div>

                </div>

                <h5> Marcas </h5>
                  <div class = "divider"></div>
                  <div class = "row">
                      <div class = "inputGroup">
                        <input name="fraganceType" type="radio" id="radio1" />
                        <label for="radio1">Blue</label>
                        <br>
                        <input name="fraganceType" type="radio" id="radio2" />
                        <label for="radio2">Blue</label>
                        <br>
                        <input name="fraganceType" type="radio" id="radio3" />
                        <label for="radio3">Blue</label>
                        <br>
                      </div>
                  </div>

                  <h5>Fragancias</h5>
                    <div class = "divider"></div>
                    <div class = "row">
                        <div class = "inputGroup">
                          <input name="fraganceType" type="radio" id="radio1" />
                          <label for="radio1">Blue</label>
                          <br>
                          <input name="fraganceType" type="radio" id="radio2" />
                          <label for="radio2">Blue</label>
                          <br>
                          <input name="fraganceType" type="radio" id="radio3" />
                          <label for="radio3">Blue</label>
                          <br>
                        </div>
                    </div>

                  <div class = "center">
                    <button class="btn waves-effect waves-light center" type="submit" name="action">Buscar
                        <i class="material-icons right">send</i>
                    </button>
                  </div>

                </form>
          </div>

          <div class = "col m8" >

            <div class = "col m4 s12 animated fadeInUp">
              <div class="card hoverable col m12 s12">
                <div class="card-image">
                  <img class = "responsive-img" src="http://via.placeholder.com/150x600">
                  <span class="card-title">Perfume Victoria Secret</span>
                </div>

                <div class="card-content">
                      <div class "row">
                        <div class = "container col s7">
                          <span>Unidad</span>
                        </div>
                        <div class = "container col s5">
                            <span> $15.000</span>
                        </div>
                      </div>
                      <div class = "divider"></div>

                      <div class = "row">
                        <div class = "container col s6">
                          <span>Mayor (6 Und)</span>
                        </div>
                        <div class = "container col s6">
                            <span> $12.000 c/u</span>
                        </div>
                      </div>
                </div>

                <div class="card-action center-align">
                  <a href="#"> <i class="small material-icons">shopping_cart</i>Agregar</a>
                </div>
              </div>
            </div>

            <div class = "col m4 s12 animated fadeInUp">
              <div class="card hoverable col m12 s12">
                <div class="card-image">
                  <img class = "responsive-img" src="http://via.placeholder.com/150x600">
                  <span class="card-title">Perfume Victoria Secret</span>
                </div>

                <div class="card-content">
                      <div class "row">
                        <div class = "container col s7">
                          <span>Unidad</span>
                        </div>
                        <div class = "container col s5">
                            <span> $15.000</span>
                        </div>
                      </div>
                      <div class = "divider"></div>

                      <div class = "row">
                        <div class = "container col s6">
                          <span>Mayor (6 Und)</span>
                        </div>
                        <div class = "container col s6">
                            <span> $12.000 c/u</span>
                        </div>
                      </div>
                </div>

                <div class="card-action center-align">
                  <a href="#"> <i class="small material-icons">shopping_cart</i>Agregar</a>
                </div>
              </div>
            </div>

            <div class = "col m4 s12 animated fadeInUp">
              <div class="card hoverable col m12 s12">
                <div class="card-image">
                  <img class = "responsive-img" src="http://via.placeholder.com/150x600">
                  <span class="card-title">Perfume Victoria Secret</span>
                </div>

                <div class="card-content">
                      <div class "row">
                        <div class = "container col s7">
                          <span>Unidad</span>
                        </div>
                        <div class = "container col s5">
                            <span> $15.000</span>
                        </div>
                      </div>
                      <div class = "divider"></div>

                      <div class = "row">
                        <div class = "container col s6">
                          <span>Mayor (6 Und)</span>
                        </div>
                        <div class = "container col s6">
                            <span> $12.000 c/u</span>
                        </div>
                      </div>
                </div>

                <div class="card-action center-align">
                  <a href="#"> <i class="small material-icons">shopping_cart</i>Agregar</a>
                </div>
              </div>
            </div>

          </div>
        </div>

    </div>

  </main>





<!-- Footer -->
  <footer class = "col l12 m12 s12">

        <div class = "row">
          <div class = "container col m4 s6">
            <h5 class="white-text">Categorias</h5>
            <u
              <li><a class="grey-text text-lighten-3" href="#!">Perfumeria</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Maquillaje</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Cuidado Piel</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Ropa</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Accesorios</a></li>
            </ul>
          </div>
          <div class = "container col m4 s6">
            <h5 class="white-text">Paginas</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Ingresar</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Ayuda</a></li>
            </ul>
          </div>
          <div class = "container col m4 s12">
            <h5 class="white-text">Contacto</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">ventas@nombretienda.com</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-copyright">
          <div class="container col s12 center-align">
          © 2017 Pink Seduction
          </div>
          <div class="container col s12 center-align">
          Powered by Wolfay Projects
          </div>
        </div>
    </footer>

<!-- jQuery -->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!-- JS - Materialize -->
    <script src="vendor/materialize/js/materialize.js"></script>
    <script src="vendor/aos-master/dist/aos.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="assets/js/home.js"></script>
</body>
</html>
