
<!DOCTYPE html>
<html>
  <head>

      <%- include('../partials/head/later/client.ejs') %>

      <link rel="stylesheet" type="text/css" href="assets/css/home/index/home.css">
  </head>
  <body>
        <%- include('../partials/navbar/navbar') %>
    <div  class="row">
      <div id="mainCont" class="col l12 m12 s12">



        <!--<div class="col xl10 l10 m12 s12 offset-xl1 red">
            <div class="grid">
                <div class="grid-sizer"></div>
                <div class="grid-item"></div>
                <div class="grid-item grid-item--width2 grid-item--height2"></div>
                <div class="grid-item grid-item--height3"></div>
                <div class="grid-item grid-item--height2"></div>
                <div class="grid-item grid-item--width3"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item grid-item--height2"></div>
                <div class="grid-item grid-item--width2 grid-item--height3"></div>
                <div class="grid-item"></div>
                <div class="grid-item grid-item--height2"></div>
                <div class="grid-item"></div>
                <div class="grid-item grid-item--width2 grid-item--height2"></div>
                <div class="grid-item grid-item--width2"></div>
                <div class="grid-item"></div>
                <div class="grid-item grid-item--height2"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item grid-item--height3"></div>
                <div class="grid-item grid-item--height2"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item grid-item--height2"></div>
            </div>
        </div>-->


      </div>
    </div>

            <%- include('../partials/footer/footer') %>



            <%- include('../partials/foot/later/footLinks') %>
        <script type="text/javascript" src = "assets/js/home/index/index.js">

        </script>
  </body>
</html>
