<!DOCTYPE html>
<html lang = "es">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menjar</title>


    <!-- Import Google Icon -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
     <link href="vendor/aos-master/dist/aos.css" rel="stylesheet">
    <!-- CSS - Materialize -->

    <link rel="stylesheet" href="vendor/materialize/css/materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="vendor/pace/pace.css">
    <link rel = "stylesheet" href = "assets/css/home.css">
</head>

<body>

  <header>
    <nav class="nav-extended animated fadeInDown col l12 m12 s12">
      <div class="nav-wrapper">
        <div class = "row">
          <a href="#" class="brand-logo center"><img class = "animated rollIn" src = "assets/img/logo_base.png"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

          <ul id="nav-mobile" class="right">
            <li><a href="#modalLog"><i class="material-icons">account_circle</i></a></li>
                    <li><a href="badges.html"><i class="material-icons">shopping_cart</i></a>
            </li>

          </ul>
        </div>

        <div class = "row hide-on-med-and-down" >
          <div class = "container center">
            <ul>
              <li class="active"><a href="#test1"><i class="material-icons">home</i></a></li>
              <li><a href="/perfumeria">Perfumeria</a></li>
                        <li><a href="#test2">Maquillaje</a></li>
                        <li><a href="#test3">Cuidado Piel</a></li>
                        <li><a href="#test4">Ropa</a></li>
                        <li><a href="#test4">Accesorios</a></li>
            </ul>
          </div>
        </div>
      </div>

    </nav>

    <ul class="side-nav" id="mobile-demo">
      <li>  <h5> Categorias</h5>
              <div class = "divider"></div>
          </li>
          <li><a href="/">Home</a></li>
          <li><a href="/perfumeria">Perfumeria</a></li>
          <li><a href="badges.html">Maquillaje</a></li>
          <li><a href="#test3">Cuidado Piel</a></li>
          <li><a href="collapsible.html">Ropa</a></li>
          <li><a href="mobile.html">Accesorios</a></li>
          <li>  <h5> Informacion</h5>
              <div class = "divider"></div>
          </li>
          <li><a href="sass.html"><i class="material-icons">account_circle</i>Ingresar</a></li>
          <li><a href="sass.html"><i class="material-icons">shopping_cart</i>Carro de compras</a></li>
          <li><a href="sass.html"><i class="material-icons">help</i>Ayuda</a></li>
          <li>
              <div class = "section">
                <div class = "center">
                    <a class="btn-floating btn-large waves-effect waves-light red" onclick = "$('.button-collapse').sideNav('hide');">
                        <div class = "center">
                          <i class="material-icons">close</i>
                        </div>
                    </a>
                </div>
              </div>
          </li>
    </ul>

  </header>

    <div class = "col l12 m12 s12">

      <div class = "section">

          <div class = "col m12 s12 l12 animated fadeInLeft">
                  <a id "mainBanner"  href = "#"><img height="80px" width = "100%" src = "assets/img/page/mainBanner.png"></a>
          </div>


              <div class = "test1" class="col s12 m12 l10 offset-l1">

                <div class="carousel carousel-slider hide-on-med-and-down animated fadeInRight col l12 m12 s12" height = "500px" data-indicators="true">
                  <a  class="carousel-item" href="#one!"><img width="100%" height="100%" src="assets/img/page/carousel1.jpg"></a>
                  <a class="carousel-item" href="#two!"><img width="100%" height="100%"  src="assets/img/page/carousel2.jpg" ></a>
                  <a class="carousel-item" href="#three!"><img width="100%" height="100%"  src="assets/img/page/carousel1.jpg" ></a>
                  <a class="carousel-item" href="#four!"><img width="100%" height="100%"  src="assets/img/page/carousel2.jpg" ></a>
                </div>



                <div id = "adver" class = " col s12 m12 l12">
                  <div class = "row" height = "500px">

                    <div class = "col l6 m6 s12">
                      <a class = "col m12 s12" ><img id = "publicitySmallUp" class = "animated fadeInRight" src = "assets/img/page/publicitySmallUp.png" width = "100%" height="100%"></a>
                          <a class = "col m12 s12" ><img id = "publicitySmallDown" class = "animated fadeInLeft" src = "assets/img/page/publicitySmallDown.png" width = "100%" height="100%"></a>
                    </div>

                    <div class = "col l6 m6 s12">
                      <a class = "col m12 s12"><img id = "publicityBig" class = "animated fadeInUp" src = "assets/img/page/publicityBig.png"  width = "100%" height="100%"></a>
                    </div>
                  </div>
                </div>

                </div>

                <div class = "col l12 m12 s12 titles center">
                  <h1 class = "col l12 m12 s12"> Nuevos Productos </h1>
                    <div class = "divider col l12 m12 s12"></div>
                </div>

                <div id = "homeProducts" class = "col m12 s12 l12 grid">
                  <div class = "row">

                    <div class="col l4 m6 s12 grid-item ">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col l4 m6 s12 grid-item">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col l4 m6 s12 grid-item">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col l4 m6 s12 grid-item">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col l4 m6 s12 grid-item">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col l4 m6 s12 grid-item">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                  </div>
                </div>


        </div>
    </div>

  <!-- Modal de Logearse -->
  <div id="modalLog" class="modal">
    <div class="modal-content">

      <div id = "loginForm">
        <div class = "right">
          <a class="btn-floating btn-small waves-effect waves-light" onclick = "$('#modalLog').modal('close');"><i class="material-icons tiny">close</i></a>
        </div>

        <div class = "row">
          <h4 class = "center">Ingresa a Sweet Tentation</h4>
          <div class = "divider"></div>
        </div>

        <div class = "row">
          <div class = "container col m6 s6">
                        <a href="#!" class="btn  waves-effect waves-green col l10 m10 s12 offset-l2 offset-m2 offset-s0 blue darken-4">Facebook</a>
                  </div>
                  <div class = "container col m6 s6">
                        <a href="#!" class="btn modal-close waves-effect waves-green col l10 m10 s12 light-blue">Twitter</a>
                  </div>
        </div>

        <div class = "row">
          <p class = "center">O ingresa con tu cuenta</p>
        </div>

        <div class = "row">
          <form class = "col m12 l12 s12" method = 'post' onsubmit="openSession(event)">
                    <div class = "row">
                        <div class="input-field col l8 m8 s11 offset-l2 offset-m2 offset-s1">
                            <input name = "email" id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                      </div>

                      <div class = "row">
                        <div class="input-field col l8 m8 s11 offset-l2 offset-m2 offset-s1">
                          <input name = "password" id="password" type="password" class="validate">
                            <label for="password">Contraseña</label>
                        </div>
                      </div>

                      <div class = "row center">
                        <input type = "submit" class = "btn" value = "Ingresar">
                      </div>
                  </form>
        </div>

        <div class = "row">
          <div class = "divider"></div>
          <h5 class = "center">¿ Sin cuenta ?</h5>
          <div class = "row center">
                        <a onclick = "toggleLogin()" class = "btn submit center">Crear Cuenta</a>
                  </div>
        </div>
      </div>

      <div id = "registryForm" style = "display:none">
        <div class = "right">
          <a class="btn-floating btn-small waves-effect waves-light" onclick = "$('#modalLog').modal('close');"><i class="material-icons tiny">close</i></a>
        </div>

        <div class = "row">
          <h4 class = "center">Registrate</h4>
          <div class = "divider"></div>
        </div>

        <div class = "row">
          <div class = "container col m6 s6">
                        <a href="#!" class="btn  waves-effect waves-green col l10 m10 s12 offset-l2 offset-m2 offset-s0 blue darken-4">Facebook</a>
                  </div>
                  <div class = "container col m6 s6">
                        <a href="#!" class="btn modal-close waves-effect waves-green col l10 m10 s12 light-blue">Twitter</a>
                  </div>
        </div>

        <div class = "row">
          <p class = "center">O registrate con nosotros</p>
        </div>

        <div class = "row">
          <form class = "col m12 l12 s12" method = 'post' onsubmit="openSession(event)">
                    <div class = "row">
                        <div class="input-field col l6 m6 s11">
                            <input name = "name" id="name" type="email" class="validate">
                            <label for="email">Nombres</label>
                        </div>
                        <div class="input-field col l6 m6 s11">
                          <input name = "password" id="password" type="password" class="validate">
                            <label for="password">Apellidos</label>
                        </div>

                        <div class="input-field col l8 m8 s11 offset-l2 offset-m2">
                          <input name = "password" id="password" type="email" class="validate">
                            <label for="password">Correo Electronico</label>
                        </div>

                        <div class="input-field col l6 m6 s11">
                          <input name = "password" id="password" type="password" class="validate">
                            <label for="password">Contraseña</label>
                        </div>

                        <div class="input-field col l6 m6 s11">
                          <input name = "password" id="password" type="password" class="validate">
                            <label for="password">Repetir Contraseña</label>
                        </div>

                        <div class="input-field col l3 m3 s11">
                          <select>
                              <option value="" disabled selected>Ciudad</option>
                              <option value = "colombia">Bogota</option>
                              <option value = "colombia">Medellin</option>
                              <option value = "colombia">Cali</option>
                          </select>
                        </div>

                        <div class = "input-field col l7 m7 s11">
                          <input name = "password" id="password" type="text" class="validate">

                            <label for="password">Direccion</label>
                        </div>

                        <div class = "input-field col l2 m2 s4 offset-s4 hoverable z-depth-1 center">

                              <i class="material-icons medium">my_location</i>

                        </div>

                        <div class="input-field col l6 m6 s11">
                          <input name = "password" id="password" type="number" class="validate">
                            <label for="password">Telefono celular(opcional)</label>
                        </div>

                        <div class="input-field col l6 m6 s11">
                          <input name = "password" id="password" type="text" class="validate">
                            <label for="password">Codigo de Registro(opcional)</label>
                        </div>


                      </div>

                      <div class = "row center">
                        <input type = "submit" class = "btn" value = "Registrarse">
                      </div>
                  </form>
        </div>

        <div class = "row">
          <div class = "divider"></div>
          <h5 class = "center">¿ Ya tienes una cuenta ?</h5>
          <div class = "row center">
                        <a onclick = "toggleLogin()" class = "btn submit center">Ingresar</a>
                  </div>
        </div>
      </div>


    </div>
  </div>


  <footer class="">
    <div class = "container">
      <div class = "row">
        <div class = "container col l4 m4 s6">
          <h5 class="white-text">Categorias</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Perfumeria</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Maquillaje</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Cuidado Piel</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Ropa</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Accesorios</a></li>
          </ul>
        </div>

        <div class = "container col l4 m4 s6">
          <h5 class="white-text">Paginas</h5>
          <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Ingresar</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Ayuda</a></li>
                </ul>
        </div>

        <div class = "container col m4 s12">
                <h5 class="white-text">Contacto</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Youtube</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">ventas@nombretienda.com</a></li>
                </ul>
              </div>
      </div>
      <div class = "row">
        <div class="footer-copyright">
                <div class="container col s12 center-align">
                  © 2017 Pink Seduction
                </div>

              <div class="container col s12 center-align">
                  Powered by Wolfay Projects
                </div>
            </div>
      </div>
    </div>

  </footer>

<!--
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
-->
  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src="vendor/materialize/js/materialize.js"></script>
    <script src="vendor/aos-master/dist/aos.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="vendor/pace/pace.js"></script>

    <script src="assets/js/utilities/session.js"></script>
    <script src="assets/js/home/graphics.js"></script>
    <script src="assets/js/home/home.js"></script>

</body>
</html>
