<!DOCTYPE html>
<html lang = "es">
<head>

    <%- include('../partials/head/client') %>

    <link rel = "stylesheet" href = "assets/css/home.css">
</head>

<body>
  <header>
    <%- include('../partials/navbar/unregistered') %>
  </header>

    <div class = "col l12 m12 s12">

      <div class = "section">

          <div class = "col m12 s12 l12 animated fadeInLeft">
                  <a id "mainBanner"  href = "#"><img height="80px" width = "100%" src = "assets/img/page/mainBanner.png"></a>
          </div>


              <div class = "test1" class="col s12 m12 l10 offset-l1">

                <!--<div class="carousel animated fadeInLeft hide-on-med-and-down">

                  <div class="carousel-cell">

                    <img class="carousel-cell-image"
                      data-flickity-lazyload="assets/img/page/carousel1.jpg" alt="grapes" />
                  </div>
                  <div class="carousel-cell">
                      <img class="carousel-cell-image"
                        data-flickity-lazyload="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/grapes.jpg" alt="grapes" />
                      </div>

                  <div class="carousel-cell">
                    <img class="carousel-cell-image"
                      data-flickity-lazyload="assets/img/page/carousel2.jpg" alt="Carousel 1" />
                  </div>
                  <div class="carousel-cell">
                    <a class="carousel-item" href="#three!"><img src="assets/img/page/carousel1.jpg" ></a>
                    <img class="carousel-cell-image"
                      data-flickity-lazyload="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/grapes.jpg" alt="grapes" />
                  </div>
                  <div class="carousel-cell">
                    <a class="carousel-item" href="#three!"><img src="assets/img/page/carousel2.jpg" ></a>
                    <img class="carousel-cell-image"
                      data-flickity-lazyload="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/grapes.jpg" alt="grapes" />
                  </div>

                </div>-->
                <div class="col l12 m12 s12 carousel animated zoomIn"
   data-flickity='{ "lazyLoad": true }'>
  <div class="carousel-cell">
    <img class="carousel-cell-image"
      data-flickity-lazyload="assets/img/page/carousel1.jpg" alt="tulip" />
  </div>
  <div class="carousel-cell">
    <img class="carousel-cell-image"
      data-flickity-lazyload="assets/img/page/carousel2.jpg" alt="grapes" />
  </div>
  <div class="carousel-cell">
    <img class="carousel-cell-image"
      data-flickity-lazyload="assets/img/page/carousel1.jpg" alt="raspberries" />
  </div>
  <div class="carousel-cell">
    <img class="carousel-cell-image"
      data-flickity-lazyload="assets/img/page/carousel2.jpg" alt="wolf" />
  </div>
</div>

                <div id = "adver" class = " col s12 m12 l12">
                  <div class = "row" height = "500px">

                    <div class = "col l6 m6 s12">
                      <a class = "col m12 s12" ><img id = "publicitySmallUp" class = "animated fadeInRight" src = "assets/img/page/publicitySmallUp.png" width = "100%" height="100%"></a>
                          <a class = "col m12 s12" ><img id = "publicitySmallDown" class = "animated fadeInLeft" src = "assets/img/page/publicitySmallDown.png" width = "100%" height="100%"></a>
                    </div>

                    <div class = "col l6 m6 s12">
                      <a class = "col m12 s12"><img id = "publicityBig" class = "animated fadeInUp" src = "assets/img/page/publicityBig.png"  width = "100%" height="100%"></a>
                    </div>
                  </div>
                </div>

                </div>

                <div class = "col l12 m12 s12 titles center">
                  <h1 class = "col l12 m12 s12"> Nuevos Productos </h1>
                    <div class = "divider col l12 m12 s12"></div>
                </div>

                <div id = "homeProducts" class = "col m12 s12 l12 grid">
                  <div class = "row">

                    <div class="col l4 m6 s12 grid-item ">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col l4 m6 s12 grid-item">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col l4 m6 s12 grid-item">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col l4 m6 s12 grid-item">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col l4 m6 s12 grid-item">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                    <div class="col l4 m6 s12 grid-item">
                      <a href = "#">
                        <div class = "card center">
                          <div class="card-image">
                            <img src="assets/img/page/test_product.jpg">
                                <span class="card-title">Card Title</span>
                          </div>
                          <div class="card-content">
                            <p>Mayor: <span>28000</span> </p>
                                <p>Detal: <span>28000</span> </p>
                          </div>
                        </div>
                      </a>
                    </div>

                  </div>
                </div>


        </div>
    </div>

  <!-- Modal de Logearse -->

    <%- include('../partials/logModal') %>


    <a href="#" id="backToTop" title="Back to top"><i class="material-icons">arrow_upward</i></a>

    <footer>
    <%- include('../partials/footer/unregistered') %>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.10/dist/js/alertify.js"></script>
    <script src="vendor/materialize/js/materialize.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="vendor/pace/pace.js"></script>
    <script src="assets/js/utilities/dialogs.js"></script>
    <script src="assets/js/utilities/backToTop.js"></script>

    <script src="assets/js/home/utilities/cart.js"></script>
    <script src="assets/js/home/utilities/cartGraphics.js"></script>

    <script src="assets/js/utilities/protection/protection.js"></script>
    <script src="assets/js/utilities/session.js"></script>
    <script src="assets/js/home/graphics.js"></script>
    <script src="assets/js/home/home.js"></script>

</body>
</html>
