
<!DOCTYPE html>
<html>
  <head>

      <%- include('../partials/head/later/client.ejs') %>

      <link rel="stylesheet" type="text/css" href="assets/css/home/index/home.css">
  </head>
  <body>

    <div  class="row">
      <div id="mainCont" class="col l12 m12 s12">

          <%- include('../partials/navbar/navbar') %>

        <div class="col l10 m12 s12 offset-l1">
          <div class="grid col l12 m12 s12">
          <!--<div class="grid-item grid-item--width3 grid-item--height4"></div>
          <div class="grid-item grid-item--height3"></div>
          <div class="grid-item grid-item--width2 grid-item--height3 "></div>
          <div class="grid-item grid-item--width1 grid-item--height2"></div>
          <div class="grid-item grid-item--width1 grid-item--height1"></div>
          <div class="grid-item grid-item--width1 grid-item--height2"></div>-->

          <div class="grid-item grid-item--width3 grid-item--height4 z-depth-2 mainMasItem">
            <div class="carousel"
                data-flickity='{ "imagesLoaded": true, "percentPosition": false }'>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" alt="orange tree" />
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" alt="submerged" />
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" alt="look-out" />
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" alt="One World Trade" />
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" alt="drizzle" />
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" alt="cat nose" />
            </div>

          </div>

        <div class="grid-item grid-item--width1 grid-item--height3 z-depth-2 mainMasItem"></div>
          <div class="grid-item grid-item--width1 grid-item--height2 z-depth-2 mainMasItem"></div>
          <div class="grid-item grid-item--width2 grid-item--height3 z-depth-2 mainMasItem"></div>
          <div class="grid-item grid-item--width1 grid-item--height5 z-depth-2 mainMasItem"></div>
          <div class="grid-item grid-item--width1 grid-item--height1 z-depth-2 mainMasItem social">
              <a href="#" target="_blank" class = "col l4">
                  <i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a>
              <a href="#" target="_blank" class = "col l4">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="#" target="_blank" class = "col l4">
                  <i class="fa fa-youtube-square" aria-hidden="true"></i>
              </a>

          </div>
          <div class="grid-item grid-item--width1 grid-item--height3"></div>
          <div class="grid-item grid-item--width1 grid-item--height2 z-depth-2 mainMasItem"></div>
          <div class="grid-item grid-item--width1 grid-item--height2 z-depth-2 mainMasItem"></div>
        </div>
        </div>


      </div>
    </div>

            <%- include('../partials/footer/footer') %>



            <%- include('../partials/foot/later/footLinks') %>
        <script type="text/javascript" src = "assets/js/home/index/index.js">

        </script>
  </body>
</html>
