<!DOCTYPE html>
<html>
  <head>


      <%- include('../partials/head/later/client.ejs') %>
      <link rel="stylesheet" type="text/css" href="registry.css">
      <link rel = "stylesheet" href = "../assets/css/home/registry/registry.css">
  </head>
  <body>

    <div  class="row">
      <div id="mainCont" class="col l12 m12 s12">

          <%- include('../test/navbar') %>
          <div class="row">
            <div id="signUpCont" class="col l6 offset-l1 z-depth-4">

              <div class="container">

                <div class="col l12 title">
                    Registrate a Nuestra Tienda
                </div>

                <div class="input-field col l6 m6 s11">
                    <input placeholder="Nombre" name = "name" id="name" type="text" class="validate z-depth-2">

                </div>
                <div class="input-field col l6 m6 s11">
                  <input placeholder="Apellido" name = "lastname" id="password" type="text" class="validate z-depth-2">

                </div>

                <div class="input-field col l8 m8 s11 offset-l2 offset-m2">
                  <input placeholder="Correo Electronico" name = "email" id="email" type="email" class="validate z-depth-2">

                </div>

                <div class="input-field col l6 m6 s11">
                  <input placeholder="Contraseña" name = "password" id="password" type="password" class="validate z-depth-2">

                </div>

                <div class="input-field col l6 m6 s11">
                  <input placeholder="Repetir Contraseña" name = "password" id="password" type="password" class="validate z-depth-2">

                </div>

                <div class="input-field col l3 m3 s11 city">
                  <select class = "browser-default">
                      <option value="" disabled selected>Ciudad</option>
                      <option value = "colombia">Bogota</option>
                      <option value = "colombia">Medellin</option>
                      <option value = "colombia">Cali</option>
                  </select>
                </div>

                <div class = "input-field col l7 m7 s11">
                  <input  placeholder="Direccion" name = "address" id="address" type="text" class="validate z-depth-2">

                </div>

                <div class = "input-field col l2 m2 s4 offset-s4 z-depth-2 center location">
                      <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>

                <div class="input-field col l6 m6 s11">
                  <input  placeholder="Numero celular" type="number" class="validate z-depth-2">

                </div>

                <div class="input-field col l6 m6 s11">
                  <input placeholder="Codigo Reg (opcional)"  name = "password" id="password" type="text" class="validate z-depth-2">

                </div>

                <div class = "row center">
                  <div class="col l12 hvr-rotate">
                      <button type = "submit" class = "btn" value = "Ingresar"> Registrarme <i class="fa fa-id-badge" aria-hidden="true"></i></button>
                  </div>

                </div>

              </div>



            </div>
            <div class="col l3 offset-l1">


              <div class="row">
                <div id="signInCont" class="col l12 z-depth-4">
                  <div class="title center">
                      Ingresa con tu cuenta
                  </div>
                  <form id="logInForm" method="post">
                    <div class="input-field col l10 offset-l1">
                      <input name = "email" placeholder="Correo" type="email" class="validate">
                    </div>

                    <div class="input-field col l10 offset-l1">
                      <input name="password" placeholder="Contraseña" type="password" class="validate">
                    </div>

                    <div class = "row center">
                      <div class="col l10 offset-l1">
                          <button type = "submit" class = "btn valign-wrapper hvr-rotate" value = "Ingresar"> Ingresar <i class="fa fa-user" aria-hidden="true"></i></button>
                      </div>

                    </div>
                  </form>

                </div>
              </div>


              <div class="row green">
                <div id="socialInCont" class="col l12 z-depth-4">

                  <div class="title center">
                      Ingresa con tus redes sociales
                  </div>
                  <div class="row">
                    <div class="col l12 center fb">
                        Ingresa con Facebook <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </div>

                    <div class="col center l12 google">
                        Ingresa con tu cuenta de google <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="row">
              <div id="downBanner" class="col l12 z-depth-5">
                <a href="#" target="_blank">
                  <div class="col l10">
                    Comprar <span class = "res">Online</span> nunca fue tan facil
                  </div>
                  <div class="col l2">
                      <i class="fa fa-hand-pointer-o hvr-buzz" aria-hidden="true"></i>
                  </div>

                </a>

              </div>
          </div>

            <%- include('../partials/footer/footer.ejs') %>


            <%- include('../partials/foot/later/footLinks') %>


        <script type="text/javascript" src = "../assets/js/home/registry/registry.js"></script>
        <script type="text/javascript" src = "../assets/js/utilities/session.js"></script>

  </body>
</html>
