* { box-sizing: border-box; }
body { font-family: sans-serif; }

a:link{
  color: inherit;
}

#productsContainer .productInfo{
  color:white;
}


#mainCont{

  display: table;
  margin: 0 auto;
}


.carousel {
  background: #EEE;
}

.carousel img {
  display: block;
  height: 200px;s
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}

.grid-item {
  margin-bottom: 10px;
}

@media screen and ( min-width: 768px ) {
  .carousel img {
    height: 400px;
  }
}

.grid {
  background: #EEE;
  max-width: 1200px;
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* products info*/
#productsContainer .productInfo{

}

#productsContainer .productInfo .title{
font-family: 'Fresca', sans-serif;
font-size: 1.4em;
text-shadow: rgb(30,30,30) 2px 2px 1px;
box-shadow:0px 1px 1px rgb(30,30,30);
}

#productsContainer .productInfo .wholesaleInfo {
  background-color:rgb(240,240,240);
  color:black;
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
}

#productsContainer .productInfo .wholesaleInfo .number{
  font-family: 'Fresca', sans-serif;
  color: #d0006f;
  font-size: 1.8em;
  text-shadow: black 2px 1px 1px;;
}


#productsContainer .productInfo .detailInfo {
  background-color:rgb(30,30,30);
  color:rgb(240,240,240);
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
}

#productsContainer .productInfo .detailInfo .number{
  font-family: 'Fresca', sans-serif;
  color: #d0006f;
  font-size: 1.8em;
  text-shadow: rgb(240,240,240) 1px 1px 1px;;
}

#productsContainer .productInfo .shoppingButton{
    font-family: 'Fresca', sans-serif;
    color: #EEE;
    font-size:  2em;
    text-shadow: rgb(30,30,30) 2px 2px 1px;
}
/*
#productsContainer .productInfo .wholesaleInfo{
    background-color: rgb(240,240,240);
    font-family: 'Fresca', sans-serif;
    color:black;
}*/


/*
#productsContainer .productInfo .number{

    color:rgb(30,30,30);
    color:white;
    font-family: 'Fresca', sans-serif;
    font-size: 30px;
}

#productsContainer .productInfo .numberSign{
    color:white;
}
*/
/* ---- grid-item ---- */

.grid-item {
  width: 240px;
  height: 514px;
  float: left;
  /*background: #D26; originalmente*/
  background: #d0006f;
  border: 2px solid #333;
  /*border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;*/
}

.grid-item--placeHolder{
  height:100px;
}

.grid-item--entyreWidth{
  height:100px;
  width:720px;
}

.grid-item--width1 { width: 213px; }
.grid-item--width2 { width: 426px; }
.grid-item--width3 { width: 639px; }
.grid-item--width4 { width: 852px; }
/*
.grid-item--height1 { height: 62px; }
.grid-item--height2 { height: 124px; }
.grid-item--height3 { height: 184px; }
.grid-item--height4 { height: 248px; }
.grid-item--height5 { height: 310px; }
*/
.grid-item--height1 { height: 100px; }
.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 300px; }
.grid-item--height4 { height: 400px; }
.grid-item--height5 { height: 500px; }
