<!DOCTYPE html>
<html>
  <head>

    <%- include('../partials/head/later/client') %>


      <link rel = "stylesheet" href = "../assets/css/home/cartView/cartView.css">
  </head>
  <body>
                        <!--  <img src="../assets/img/page/test_product.jpg" width="60%" style = "margin:-20% 0px -20% 0px;"> -->
    <div  class="row">
      <div id="mainCont" class="col l12 m12 s12">

          <%- include('../partials/navbar/navbar') %>

        <div class="row">
          <div id="productsContainer" class="col l11 m10 s12 z-depth-5">

            <div id = "headerList">

              <div class = "col l12">

                <div class = "col l2 center headerSub" >
                    Producto
                </div>

                <div class = "col l10 center" >
                  <div class = "col l2 headerSub" >
                        Nombre
                    </div>

                  <div class = "col l3" >
                    <div class = "col l6 headerSub">
                      Tipo
                    </div>
                    <div class = "col l6 headerSub">
                      Marca
                    </div>
                  </div>

                  <div class = "col l1 center headerSub" >
                      Num
                  </div>

                  <div class = "col l2 center headerSub" >
                      Precio
                  </div>

                  <div class = "col l4" >
                    <div class = "row ">
                      <div class = "col l10 headerSub">
                          Descripcion
                      </div>
                      <div class = "col l2 headerSub">
                          ac
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class = "row cartElement" value = "">
              <div class = "col l12">

                <div class = "col l2 center elementCont" >
                  <a href="#" target='_blank'>
                    <div style = "overflow:hidden">
                      <img src="../assets/img/page/test_product.jpg" width="75%" style = "margin:-20% 0px -20% 0px;">
                    </div>
                  </a>
                </div>

                <div class = "col l10 valign-wrapper elementCont" >
                  <div class = "col l2" >
                      <p>Splash 11-1</p>
                </div>

                  <div class = "col l3" >
                    <div class = "col l6 elementCont">
                      <p>Perfume</p>
                    </div>
                    <div class = "col l6 elementCont center">
                      <p>Victoria Secret</p>
                    </div>
                  </div>

                  <div class = "col l1 center elementCont amount" style = "padding:0">
                    <p class = "amoSelect"><i class="fa fa-plus-square" aria-hidden="true"></i></p>
                    <p class = "number">1</p>
                    <p class = "amoSelect"><i class="fa fa-minus-square" aria-hidden="true"></i></p>
                  </div>

                  <div class = "col l2 elementCont center" >
                    <span class ="number">9'999.999</span>
                    <span class = "discount">-99.000</span>
                  </div>

                  <div class = "col l4" >
                    <div class = "row valign-wrapper">
                      <div class = "col l10 elementCont">
                        <p>La mejor de todos</p>
                      </div>
                      <div class = "col l2 elementCont">
                      <div class = "trash" onclick = "deleteElement('${data._id}')">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class = "row cartElement" value = "">
              <div class = "col l12">

                <div class = "col l2 center elementCont" >
                  <a href="#" target='_blank'>
                    <div style = "overflow:hidden">
                      <img src="../assets/img/page/test_product.jpg" width="75%" style = "margin:-20% 0px -20% 0px;">
                    </div>
                  </a>
                </div>

                <div class = "col l10 valign-wrapper elementCont" >
                  <div class = "col l2" >
                      <p>Splash 11-1</p>
                </div>

                  <div class = "col l3" >
                    <div class = "col l6 elementCont">
                      <p>Perfume</p>
                    </div>
                    <div class = "col l6 elementCont center">
                      <p>Victoria Secret</p>
                    </div>
                  </div>

                  <div class = "col l1 center elementCont amount" style = "padding:0">
                    <p class = "amoSelect"><i class="fa fa-plus-square" aria-hidden="true"></i></p>
                    <p class = "number">1</p>
                    <p class = "amoSelect"><i class="fa fa-minus-square" aria-hidden="true"></i></p>
                  </div>

                  <div class = "col l2 elementCont center" >
                    <span class ="number">9'999.999</span>
                    <span class = "discount">-99.000</span>
                  </div>

                  <div class = "col l4" >
                    <div class = "row valign-wrapper">
                      <div class = "col l10 elementCont">
                        <p>La mejor de todos</p>
                      </div>
                      <div class = "col l2 elementCont">
                      <div class = "trash" onclick = "deleteElement('${data._id}')">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


          <div class="row">
            <div id = "payInfo" class="col l12 z-depth-4">
              <div class="row">
                <div class="col l12">
                  <div class="col l6">
                      <div class="title">
                          (Nombre tienda)
                      </div>
                      <p class = "description">Siempre estaremos encantados de atenderte,
                        recuerda que las entregas se realizan en el transcurso de 3 a 7 dias
                        despues de la confirmacion de la compra.</p>
                  </div>
                  <div class="col l6" style = "box-shadow:1px 6px 5px rgb(60,60,60);background-color:rgb(250,250,250)">
                    <div class="col l6">
                      <div class="col l12 valign-wrapper">
                        <div class="input-field col l8 s6">
                        <input placeholder="Codigo de Descuento" id="first_name" type="text">

                      </div>
                      <div class = "col l4 red" style = "padding:0">
                        <div class = "loadCode z-depth-2">Ingresar</div>
                      </div>
                      </div>

                      <div class="col l12 valign-wrapper">
                        <div class="col l8">
                          Codigo Promocional:
                        </div>
                        <div class="col l4">
                          <ul>
                            <li></li>
                          </ul>
                        </div>

                      </div>


                    </div>

                    <div class="col l6">
                      <div class="col l12">
                        <div class =  "container">
                          <p>
                            <input type="checkbox" id="test5" />
                            <label for="test5">Recoger En tienda</label>
                          </p>
                        </div>
                      </div>

                      <div class="col l12">
                        <div class="col l6">
                            Subtotal
                        </div>
                        <div class="col l6">
                            <span id = "subtotalCont" class = "number"></span>
                        </div>
                      </div>

                      <div class="col l12">
                        <div class="col l6">
                            Precio Envio
                        </div>
                        <div class="col l6">
                            <span id = "shipmentCont" class = "number"></span>
                        </div>
                      </div>

                      <div class="col l12">
                        <div class="col l6">
                            Descuento
                        </div>
                        <div class="col l6">
                            <span id = "discount" class = "number" style="color:green"></span>
                        </div>
                      </div>

                      <div class="col l12">
                        <div class="col l6">
                            Total
                        </div>
                        <div class="col l6">
                          <span id = "totalCont" class = "number"></span>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

                <div class="row">
                  <div class = "l12">
                    <div class="offset-l7 col l5">
                        <div class="col l5">
                          <button class = "btn" style = "background-color:rgb(25,25,25);">Regresar</button>
                        </div>
                        <div class="col l7">
                          <button id='payBut' class = "btn hvr-bob">Comprar  <i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
                        </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>




      </div>
    </div>



            <%- include('../partials/footer/footer') %>

            <%- include('../partials/foot/footLinks') %>

        <script src="../assets/js/home/cartView/graphics.js"></script>
        <script src="../assets/js/home/cartView/cartView.js"></script>
  </body>
</html>
