<footer class="page-footer" style = "background-color:black">
       <div class="container">
         <div class="row">
           <div class="col l3 m6 s12">
             <h5 class="white-text">(INGRESE SU NOMBRE AQUI)</h5>
             <p class="grey-text text-lighten-4">En (Nombre tienda), estamos para servirle, cualquier duda sobre la plataforma
                porfavor comunicarla atravez de nuestras redes sociales.
             </p>
           </div>
           <div class="col l2 m3 offset-l1 s12">
             <h5 class="white-text">Paginas</h5>
             <ul>
               <li><a class="grey-text text-lighten-3" href="#!">Perfumes</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Accesorios</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Maquillaje</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Piel</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Ropa</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Variedades</a></li>
             </ul>
           </div>
           <div class="col l2 m3 offset-l1 s12">
             <h5 class="white-text">Conectate</h5>
             <ul>
               <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Piel</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Ropa</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Variedades</a></li>
             </ul>
           </div>
           <div class="col l2 m3 offset-l1 hide-on-med-and-down">
             <h5 class="white-text">Medios de Pago</h5>
             <ul>
               <li><a class="grey-text text-lighten-3" href="#!">Visa</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Mastercard</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Punto Baloto</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">Efecty</a></li>
             </ul>
           </div>
         </div>
       </div>
       <div class="footer-copyright">
         <div class="container">
         © 2017 Copyright Wolfay Projects.
         </div>
       </div>
     </footer>
