<!DOCTYPE html>
<html>
  <head>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



      <link rel="stylesheet" type="text/css" href="navbar.css">
  </head>
  <body>


      <div id="navBar" class = "row z-depth-1">
        <div class="col l12 m12">
          <div class="col m3 hide-on-large-only">
            <i class="fa fa-bars navIcon" aria-hidden="true"></i>
          </div>
          <div class="col l4 offset-l4 m6 navTitle center">
              (INSERTE NOMBRE AQUI)
          </div>
          <div class="col l2 m3 offset-l2 valign-wrapper center">
              <div class="col l6" onclick = "$('#logModal').modal('open');">
                  <i class="fa fa-user-circle-o navIcon" aria-hidden="true"></i>
              </div>
              <div class="col l6">

                  <i class="fa fa-shopping-cart navIcon" aria-hidden="true"></i>
              </div>
          </div>

        </div>


        <div class="col l8 center hide-on-med-and-down">
          <div class="col l2 navSelec">
              Perfumes
              <a class="dropdown-button" data-activates="dropdown1" ></a>
          </div>

          <div class="col l2 navSelec">
            <a href="/test/productos">Accesorios</a>

          </div>
          <div class="col l2 navSelec">
              Maquillaje
          </div>
          <div class="col l2 navSelec">
              Piel
          </div>
          <div class="col l2 navSelec">
              Ropa
          </div>
          <div class="col l2 navSelec">
              Variedades
          </div>
        </div>

      </div>


        <script type="text/javascript" src = "navbar.js">

        </script>

  </body>
</html>
