
<!DOCTYPE html>
<html>
  <head>


    <link href="https://fonts.googleapis.com/css?family=Fresca" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
      <link rel="stylesheet" href="../vendor/materialize/css/materialize.css">

      <link rel="stylesheet" href="loader.css">
      <link rel="stylesheet" href="footer.css">
      <link rel="stylesheet" href="menuLateral.css">
      <link rel="stylesheet" type="text/css" href="products.css">
      <link rel="stylesheet" href="master-hover.css">
  </head>
  <body>

    <div  class="row">
      <div id="mainCont" class="col l12 m12 s12">

          <%- include('../test/navbar') %>
          <div class="row">
            <!-- codigo de la barra latetral, deparar luego -->
              <%- include('../test/sideSearchMenu') %>
            <div id="productsContainer" class="col l8 m9" style='margin-left:15px'>

                <div class="grid col l12">
                  <div class="grid-item z-depth-3 hvr-rotate">
                    <a href="#">
                      <img src="../assets/img/products/test_product.jpg-1499868502189" width="100%" height="70%" alt ="La Imagen no pudo cargarse :(">
                      <div class="productInfo">
                          <div class="col l12 title center">
                              Victoria Secret seduction
                          </div>
                          <div class="col l6 center z-depth-1 wholesaleInfo">
                                <div class="subtitle">
                                    Mayor
                                </div>
                                <div class="number">
                                    <span class = "numberSign">$</span>240.000
                                </div>
                          </div>
                          <div class="col l6 center z-depth-1 detailInfo">
                            <div class="subtitle">
                                  Detal
                            </div>
                            <div class="number">
                                <span class = "numberSign">$</span>260.000
                            </div>
                          </div>
                          <div class="col l12 center shoppingButton">
                            <span>Comprar   <i class="fa fa-cart-plus" aria-hidden="true"></i> </span>
                          </div>
                      </div>

                    </a>
                  </div>

                  <div class="grid-item grid-item--placeHolder">

                  </div>
                  <div class="grid-item hvr-rotate">
                    <a href="#">
                      <img src="../assets/img/products/test_product.jpg-1499868502189" width="100%" height="70%" alt ="La Imagen no pudo cargarse :(">
                      <div class="productInfo">
                          <div class="col l12 title center">
                              Victoria Secret seduction
                          </div>
                          <div class="col l6 center z-depth-1 wholesaleInfo">
                                <div class="subtitle">
                                    Mayor
                                </div>
                                <div class="number">
                                    <span class = "numberSign">$</span>240.000
                                </div>
                          </div>
                          <div class="col l6 center z-depth-1 detailInfo">
                            <div class="subtitle">
                                  Detal
                            </div>
                            <div class="number">
                                <span class = "numberSign">$</span>260.000
                            </div>
                          </div>
                          <div class="col l12 center shoppingButton">
                            <span>Comprar   <i class="fa fa-cart-plus" aria-hidden="true"></i> </span>
                          </div>
                      </div>

                    </a>
                  </div>
                  <div class="grid-item hvr-rotate">
                    <a href="#">
                      <img src="../assets/img/products/test_product.jpg-1499868502189" width="100%" height="70%" alt ="La Imagen no pudo cargarse :(">
                      <div class="productInfo">
                          <div class="col l12 title center">
                              Victoria Secret seduction
                          </div>
                          <div class="col l6 center z-depth-1 wholesaleInfo">
                                <div class="subtitle">
                                    Mayor
                                </div>
                                <div class="number">
                                    <span class = "numberSign">$</span>240.000
                                </div>
                          </div>
                          <div class="col l6 center z-depth-1 detailInfo">
                            <div class="subtitle">
                                  Detal
                            </div>
                            <div class="number">
                                <span class = "numberSign">$</span>260.000
                            </div>
                          </div>
                          <div class="col l12 center shoppingButton">
                            <span>Comprar   <i class="fa fa-cart-plus" aria-hidden="true"></i> </span>
                          </div>
                      </div>

                    </a>
                  </div>
                  <div class="grid-item">
                  </div>
                  <div class="grid-item">
                  </div>
                  <div class="grid-item">
                  </div>
                  <div class="grid-item">
                  </div>
                  <div class="grid-item">
                  </div>
                  <div class="grid-item">
                  </div>
                  <div class="grid-item">
                  </div>

                  <div class="grid-item grid-item--entyreWidth">
                    <div class="spinner">
                      <div class="rect1"></div>
                      <div class="rect2"></div>
                      <div class="rect3"></div>
                      <div class="rect4"></div>
                      <div class="rect5"></div>
                    </div>
                  </div>
                </div>

            </div>
          </div>

      </div>
    </div>

<!-- Estilos del modal, sacar de aqui -->


            <%- include('../test/footer') %>

            <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
              <script src="../vendor/materialize/js/materialize.js"></script>

          <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
          <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


        <script type="text/javascript" src = "products.js"></script>
        <script type="text/javascript" src = "sideSearchMenu.js"></script>
        <script type="text/javascript" src = "product.js"></script>
  </body>
</html>
