
<!DOCTYPE html>
<html>
  <head>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

      <link rel="stylesheet" href="footer.css">
      <link rel="stylesheet" href="menuLateral.css">
      <link rel="stylesheet" type="text/css" href="products.css">
  </head>
  <body>

    <div  class="row">
      <div id="mainCont" class="col l12 m12 s12">

          <%- include('../test/navbar') %>
          <div class="row">
            <!-- codigo de la barra latetral, deparar luego -->
            <div id="lateralSearcher" class="col l3 z-depth-2 center">
                  <h5 class = "title">Buscador</h5>
                  <div class="divider"></div>

                    <div class="valign-wrapper">
                      <div class="input-field col l10">
                        <input name="search" type="text" required>
                      </div>
                      <div class="col l2">
                          <i style = "color:white" class="fa fa-search" aria-hidden="true"></i>
                      </div>
                    </div>


            </div>
            <div class="col l8 blue" style='margin-left:15px'>

                <div class="grid">
                  <div class="grid-item">

                  </div>

                </div>
            </div>
          </div>






      </div>
    </div>



            <%- include('../test/footer') %>

          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
          <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
          <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


        <script type="text/javascript" src = "products.js">

        </script>
  </body>
</html>
