
/*

  font-family: 'Fresca', sans-serif;
  font-family: 'Dosis', sans-serif;

  COLORES >>>>
  rgb(30,30,30)  negro
  rgb(240,240,240) blanco
  :#d0006f; rosado
*/


#signUpCont{
  background-color:rgb(30,30,30);
  background-color:#d0006f;
  font-family: 'Dosis', sans-serif;
}

#signUpCont .title{

  background-color:#d0006f;
  font-family: 'Fresca', sans-serif;
  text-shadow: rgb(240,240,240) 2px 2px 1px;
  font-weight: bold;
  font-size: 2.8vw;
}

#signUpCont .city select{
  background-color: rgb(240,240,240);
}

#signUpCont .location{

  background-color:white;
  font-size: 2.5vw;
  cursor: pointer;

}

#signUpCont input[name='address']{

  background-color:white;
  font-size: 1vw;
}

#signUpCont button[type=submit]{

  background-color:rgb(30,30,30);
  font-size: 2.6vw;
  font-family: 'Fresca', sans-serif;
  text-shadow: #d0006f 1px 1px 1px;
}

#signUpCont button[type=submit] i{
  font-size: 4vw;
}


/* parte de ingreso */

#signInCont{
  background-color: rgb(30,30,30)
}

#signInCont .title{
  color:#d0006f;
  font-family: 'Fresca', sans-serif;
  text-shadow: rgb(240,240,240) 1px 1px 1px;
  font-weight: bold;
  font-size: 3vw;
}

#signInCont input{

  font-family: 'Fresca', sans-serif;
  font-size: 1.5vw;
}

#signInCont button{
  background-color: rgb(240,240,240);
  box-shadow: #d0006f 1px 1px 1px;
  color:#d0006f;
  font-family: 'Fresca', sans-serif;
  font-size: 2vw;
  text-shadow: black 1px 1px 0px;
}

#signInCont button i{
    font-size: 2.5vw;
}


#socialInCont{
  background-color: rgb(30,30,30);
  font-family: 'Dosis', sans-serif;
  font-size: 1.4vw;
  color:rgb(240,240,240);
}

#socialInCont .title{

  font-family: 'Fresca', sans-serif;
  text-shadow: #d0006f 1px 1px 0px;
  font-size: 1.8vw;
  color:rgb(240,240,240);
}

#socialInCont .fb{
  background-color: rgb(59,89,152);
  cursor: pointer;
}

#socialInCont .google{
  background-color: rgb(211,72,54);
  cursor: pointer;
}

#socialInCont i{
  font-size: 2vw;
}


/* banner inferior de publicidad */
#downBanner{
  background-color: #FFE319;
  font-family: 'Fresca', sans-serif;
  font-size:5vw;
}

#downBanner .res{
  font-weight: bold;
  color:#d0006f;
  font-size: 6vw;
  text-shadow: rgb(30,30,30) 3px 3px 0px;

}
#downBanner i{

  color:#d0006f;
  font-size: 6vw;
  text-shadow: rgb(30,30,30) 2px 2px 0px;

}

/* LARGE DEVICES*/
@media screen and ( max-width: 1199px ) {


}
/* TABLETS*/
@media screen and ( max-width: 991px ) {
  #signUpCont .title{
    font-size: 5vw;
  }
  #signUpCont .location{
    font-size: 4vw;
  }
  #signUpCont input{
    font-size: 2.3vw;
  }
  #signUpCont select{
    font-size: 3vw;
  }
  #signUpCont input[name='address']{
    font-size: 2.1vw;
  }

  #signUpCont button[type=submit]{
    font-size: 5vw;
  }
  #signUpCont button[type=submit] i{
    font-size: 6vw;
  }


  #signInCont .title{
    font-size: 5vw;
  }

  #signInCont input{
    font-size: 2.3vw;
  }

  #signInCont button{
    font-size: 5vw;

  }

  #signInCont button i{
      font-size: 6vw;
  }


  #socialInCont{
    font-size: 3vw;

  }

  #socialInCont .title{
    font-size: 4.3vw;
  }
  #socialInCont i{
    font-size: 4vw;
  }

}
/* CELLPHONES DEVICES*/
@media screen and ( max-width: 600px ) {
  #signUpCont .title{
    font-size: 8.1vw;
  }
  #signUpCont .location{
    font-size: 10vw;
  }
  #signUpCont input{
    font-size: 6vw;
  }
  #signUpCont select{
    font-size: 7vw;
  }
  #signUpCont input[name='address']{
    font-size: 5vw;
  }

  #signUpCont button[type=submit]{
    font-size: 9vw;
  }
  #signUpCont button[type=submit] i{
    font-size: 12vw;
  }


  #signInCont .title{
    font-size: 8.1vw;
  }

  #signInCont input{
    font-size: 6vw;
  }

  #signInCont button{
    font-size: 9vw;

  }

  #signInCont button i{
      font-size: 12vw;
  }


  #socialInCont{
    font-size: 5.3vw;

  }

  #socialInCont .title{
    font-size: 7vw;
  }
  #socialInCont i{
    font-size: 6.5vw;
  }
  #downBanner{

    font-size:6vw;
  }

  #downBanner .res{

    font-size: 8vw;
    text-shadow: rgb(30,30,30) 1px 1px 0px;
  }
}


.input-field input{
  background-color: rgb(240,240,240);
  font-size: 1.3vw;
  box-shadow: #d0006f 1px 1px 1px;
}

.input-field input[type=text]:focus {
   border-bottom: 1px solid #d0006f;
   box-shadow: 0 1px 0 0 #d0006f;
 }

.input-field input[type=email]:focus {
border-bottom: 1px solid #d0006f;
box-shadow: 0 1px 0 0 #d0006f;
}

.input-field input[type=password]:focus {
border-bottom: 1px solid #d0006f;
box-shadow: 0 1px 0 0 #d0006f;
}

.input-field input[type=number]:focus {
  border-bottom: 1px solid #d0006f;
  box-shadow: 0 1px 0 0 #d0006f;
}

.input-field .prefix.active {
     color: red;
   }


   ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
       color:    #848484;
   }











.grid {
  background: #EEE;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-item {
  margin-bottom: 10px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 213px;
  height: 250px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  /*border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;*/
}

.grid-item--width1 { width: 213px; }
.grid-item--width2 { width: 426px; }
.grid-item--width3 { width: 639px; }
.grid-item--width4 { width: 852px; }
/*
.grid-item--height1 { height: 62px; }
.grid-item--height2 { height: 124px; }
.grid-item--height3 { height: 184px; }
.grid-item--height4 { height: 248px; }
.grid-item--height5 { height: 310px; }
*/
.grid-item--height1 { height: 100px; }
.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 300px; }
.grid-item--height4 { height: 400px; }
.grid-item--height5 { height: 500px; }
