<div class = "container col l2 z-depth-3 hide-on-med-and-down">

    <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">pie_chart</i>Estadisticas</div>
          <div class="collapsible-body"><p>En construccion</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">local_mall</i>Productos</div>
          <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item"><a  href = "#">Perfumeria</a></li>
              <li class="collection-item"><a  href = "#">Maquillaje</a></li>
              <li class="collection-item"><a  href = "#">Cuidado Piel</a></li>
              <li class="collection-item"><a  href = "#">Ropa</a></li>
              <li class="collection-item"><a  href = "#">Accesorios</a></li>
              <li class = "collection-item"><a href = "/admin/categorias"><blockquote>Categorias</blockquote></a></li>
              <li class = "collection-item"><a href = "/admin/atributos"><blockquote>Categorias</blockquote></a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">person</i>Clientes</div>
          <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item"><a  href = "#">Lista Datos</a></li>
              <li class="collection-item"><a  href = "#">Maximos compradores</a></li>
              <li class="collection-item"><a  href = "#">Orden Ventas</a></li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">attach_money</i>Ventas</div>
          <div class="collapsible-body"><p>En construccion</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">build</i>Preferencias</div>
          <div class="collapsible-body">
            <ul class="collection">
              <li class="collection-item"><a  href = "#">Pagina</a></li>
            </ul>
          </div>
        </li>
    </ul>
  </div>
