<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Menjar</title>

<!--  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" /> -->
<!-- Import Google Icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../vendor/aos-master/dist/aos.css" rel="stylesheet">
<!-- CSS - Materialize -->
<link rel="stylesheet" href="../vendor/materialize/css/materialize.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css">
<link rel="stylesheet" href="../vendor/pace/pace.css">
<script src="../vendor/pace/pace.js"></script>
